@model StudentCreateVM
@{
    ViewData["Title"] = "Create";
}

<main style="margin-top: 70px; margin-left:60px;">
    <div class="container mt-5">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label for="category">Image</label>
                <span asp-validation-for="Image" class="text-danger"></span>
                <input class="form-control form-bg-light" type="file" asp-for="Image" maxlength="100" placeholder="Image...">
                <label class="mt-5" for="category">FullName</label>
                <span asp-validation-for="FullName" class="text-danger"></span>
                <input asp-for="FullName" class="form-control form-bg-light" maxlength="100" placeholder="FullName...">
                <label class="mt-5" for="category">Profession</label>
                <span asp-validation-for="Profession" class="text-danger"></span>
                <input asp-for="Profession" class="form-control form-bg-light" >
                <label class="mt-5" for="category">Course</label>
                <span asp-validation-for="Course" class="text-danger"></span>
                <select asp-for="Course" asp-items="@ViewBag.course" class="form-control"></select>
                
                
                <label class="mt-5" for="category">Biography</label>
                <span asp-validation-for="Biography" class="text-danger"></span>
                <textarea rows="4" cols="5" asp-for="Biography" class="form-control form-bg-light" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a asp-action="Index" class="btn btn-light mr-2">Cancel</a>
        </form>
    </div>
</main>

