@model List<Social>
@{
    ViewData["Title"] = "Index";
}

<main style="margin-top: 70px; margin-left:60px;">


    <div class="container mt-5">
        <h2 class="text-center">Social</h2>
        <a asp-action="Create" class="btn btn-success">
            <i class="fa-solid fa-plus"></i>
        </a>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        
                        <th>FullName</th>

                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr style="background-color:#bbb">

                            

                            <td>@item.Name</td>
                            <td>

                              
                                <form class="d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id">

                                    <button type="submit" class="btn btn-danger text-white small">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </form>
                               
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</main>

